// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo');

// CSS3 Extension for stylus (http://tj.github.io/nib/)
@import '~nib/index.styl'

// Variables
header-height = 80px

// Styles
global-reset()
*
  box-sizing border-box

html, body
  color #414042
  font-family 'Nanum Barun Gothic', 'Nanum Gothic', sans-serif;

html, body, #main, .app
  height 100%

#header
  position fixed
  z-index 100
  width 100%
  height header-height
  padding-top 10px
  padding-bottom 10px
  background linear-gradient(to right, #f39eb2 0%,#acdff0 25%,#82c9a6 50%,#fbeb9d 75%,#f8bd91 100%,#f8bd91 100%)
  .logo
    margin-left 30px
    height 60px
  .menu
    float right
    margin-right 16px
    line-height 1.9
    font-weight bold
    ul
      li
        font-size 20px
        line-height 60px
        float left
        margin-left 80px
    a
      color red
      text-decoration none
      -webkit-animation hue 1s infinite linear

@-webkit-keyframes hue {
	from {
		-webkit-filter hue-rotate(0deg)
	}
	to {
		-webkit-filter hue-rotate(-360deg)
	}
}

#footer
  background-color #85CAA9
  color white
  font-size 14px
  padding 6px 0 6px 0
  position fixed
  bottom 0
  left 0
  width 100%
  z-index 100
  text-align center
  a
    color inherit
    text-decoration none


.jonmat-map-container
  padding-top header-height
  // width 100%
  height 100%
  width auto
  overflow hidden
  .jonmat-map
    width 100%
    height 100%
    .jonmat-marker-content
      background-color white
      line-height 30px
      border-width 2px
      border-style solid
      text-align center
      width 100px
      border-radius 5px

.jonmat-list-container
  padding-top header-height
  float right
  height 100%
  width 420px
  background-color white

.jonmat-list
  font-family 'Nanum Barun Gothic', 'Nanum Gothic', sans-serif;
  width 420px
  height 100%
  overflow auto
  ul
    width 100%
    overflow hidden
    li
      font-size 14px
      width 100%
      border-style solid
      border-left-width 6px
      .inner
        clear both
        overflow hidden
        padding 18px 10px 18px 10px
        height 100%
        border-bottom 1px solid #cccccc
        position relative
        .tag
          position absolute
          top 18px
          left 10px
          font-family 'Nanum Myeongjo', serif
          background-color #F39EB2
          width 30px
          height 30px
          border-radius 15px
          line-height 30px
          text-align center
          font-size 12px
          color white
        .info
          float left
          margin-left 40px
          .shop
            font-weight bold
            line-height 22px
          .address
            font-size 11px
            line-height 14px
            padding-left 10px
          .who
            margin-top 14px
            .name
              font-weight bold
          .price
            margin-top 10px
        .count
          float right
          .num
            margin-top 10px
            font-size 42px
            line-height 70px
          .h
            margin-left 6px
            font-size 14px
            font-weight bold
